<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.quizmaniacs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LobbyMenu" />
        <activity
            android:name=".Activities.CreateMenu"
            android:noHistory="true" />
        <activity android:name=".Activities.VoteCategoryMenu" />
        <activity android:name=".Activities.RoomMenu" />
        <activity android:name=".Activities.GameInProgressMenu" />
        <activity android:name=".Activities.ChatRoom"></activity>
    </application>

</manifest>